
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Profile</h2>
<hr/>
<div style="text-align:center;display:flex;padding:15px">
    <div style="width:200px;margin-right:15px;margin-left:auto">
        <div style="margin-bottom:10px">
            <img src="~/Images/user.png" id="userPhoto" height="150" width="150">
        </div>
        <input type="button" id="browsePhotoButton" value="Browse Photo" onclick="document.getElementById('file').click();" />
        <input type="file" style="display:none;" id="file" name="file" />
    </div>
    <div style="text-align:left;padding:15px;margin-right:auto">
        <label>Name : Joshua P. Caruana</label><br />
        <label>Deptartment : ITSD</label><br />
        <label>Access : Admin</label><br />
    </div>
</div>


